

<div id="mySidenav" class="sidenav mt-5">
        <a href="javascript:void(0)" class="closebtn" (click)= "closeNav()">&times;</a>
        <a class="text-white"><h1>Front Office</h1></a>
        <a class="text-white" href="TodaysApp">Home</a>
        <a class="text-white" href="AddPatient">New Patient</a>
        <a class="text-white" href="ViewPatient">View All Patient</a>
        <a class="text-white" href="TodaysApp">View Todays Appointment</a>
        <button (click)="savePatient()" class="btn btn-danger" style="margin-left: 9%;" type="submit"><h5>Logout</h5></button>
      </div>
      <div id="main">
      <span style="font-size:30px;cursor:pointer" (click)= "openNav()" >&#9776; </span>
</div>
      
     


<div class="container">
    
    <br>
    <section id="cover">
      <form>         
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">FIRST NAME :</label>
        <div class="col-10">
            <input class="form-control text_length" [(ngModel)] ="patientObj.pFName" name="pFName" placeholder="Enter Patient Name" type="text" id="">
        </div>
    </div>
    <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">LAST NAME :</label>
            <div class="col-10">
                <input class="form-control text_length" [(ngModel)]="patientObj.pLName" name="pLName" placeholder="Enter Patient Name" type="text" id="">
            </div>
        </div>
        <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">GENDER :</label>
                
                <div class="col-10">
                    <select class="form-control text_length" [(ngModel)] ="patientObj.pGender" name="pGender">
                        <option disabled>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
        
    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">DOB :</label>
        <div class="col-10">
            <input class="form-control text_length" [(ngModel)] ="patientObj.pDOB" name="pDOB" placeholder="Enter Patient Date Of Birth" type="date" value="" id="">
        </div>
    </div>
    <div class="form-group row">
            <label for="example-datetime-local-input" class="col-2 col-form-label">BLOOD GROUP :</label>
            
            <div class="col-10">
                <select class="form-control text_length"  [(ngModel)] ="patientObj.pBloodGrp" name="pBloodGrp">
                    <option disabled>Select Blood Group</option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>AB+</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                </select>
            </div>
        </div>
    <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">ADDRESS :</label>
            <div class="col-10">
                <textarea class="form-control text_length"  [(ngModel)] ="patientObj.pAddr" name="pAddr" placeholder="Enter Patient Address" ></textarea>
            </div>
        </div>
        <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">MOBILE :</label>
                <div class="col-10">
                    <input class="form-control text_length"  [(ngModel)] ="patientObj.pPhNo" name="pPhNo"  placeholder="Enter Patient Mobile Number"type="tel" id="">
                </div>
         </div>
    <br>


    <nav class="navbar navbar-light">
            <!--<button type="button" class="btn btn-warning" style="float:left; margin-left: 8%">BACK</button>-->&nbsp;
            <button (click)="savePatient()" type="button" class="btn btn-success"style="float:right; margin-right: 29%">SAVE</button>
           
            </nav>
        </form> 
    </section>
        </div>