<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)= "closeNav()">&times;</a>
        <a class="text-white"><h1>Front Office</h1></a>
        <a class="text-white" href="#">Home</a>
        <a class="text-white" href="#">View All Patient</a>
        <a class="text-white" href="#">New Patient</a>
        <a class="text-white" href="#">Todays Appointment</a>
        <button  (click)="Logout()" class="btn btn-danger" style="margin-left: 9%;" type="submit"><h5>Logout</h5></button>
      </div>
      <div id="main">
      <span style="font-size:30px;cursor:pointer" (click)= "openNav()" >&#9776; </span>
</div>

<div class="container"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="dropdown show">
                        <a class="btn btn-outline-primary my-2 my-sm-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          STATUS
                        </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Completed</a>
                          <a class="dropdown-item" href="#">Not Completed</a>
                          <a class="dropdown-item" href="#">Any</a>
                        </div>
                    </div>&nbsp;
                      
                            <i class="fas fa-search" aria-hidden="true"></i>
                           <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                   </nav>
                
           
                      <div>
                          <br>
                            <table class="table" border="1">
                                    <thead class="text-white">
                            <tr>
                                <th>Reg Id</th>
                                <th>Patient Name</th>
                                <th>Doctor Name</th>
                                <th>Pres Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr></thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Reshmi</td>
                                <td>Reshmi</td>
                                <td>10-sep-2019</td>
                                <td>Attented</td>
                                <td><a href="#"><img src="assets/view.png"/></a></td>
                            </tr>
                        </tbody>
                        </table>
                    
                    </div>
                    <nav>
                        <ul class="pagination pagination-sm" style="float:right">
                            <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            <li class="page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </nav>
                </div>
