<app-header></app-header>
<!--<app-view-patient-history></app-view-patient-history>
<app-consultation></app-consultation>
<app-labtest-request></app-labtest-request>
<app-patient-pharmacy></app-patient-pharmacy>
<app-todays-appointment></app-todays-appointment>
<app-view-patient></app-view-patient>
<app-add-doctor></app-add-doctor>
<app-add-medicine></app-add-medicine>
<app-add-patient></app-add-patient>
<app-add-staff></app-add-staff>
<app-view-staff></app-view-staff>
<app-view-medicine></app-view-medicine>
<app-view-doctor></app-view-doctor>
<app-add-medicine-request></app-add-medicine-request>
<app-view-doctors-appointment></app-view-doctors-appointment>
<app-admin-dashboard></app-admin-dashboard>-->
<router-outlet></router-outlet>